#
# These groups are read by MariaDB server.
# Use it for options that only the server (but not clients) should see
#
# See the examples of server my.cnf files in /usr/share/mysql/
#

# this is read by the standalone daemon and embedded servers
[server]

# this is only for the mysqld standalone daemon
[mysqld]
port                 = 3306
character-set-server = utf8mb4
collation-server     = utf8mb4_unicode_ci
query-cache-type     = 0
query-cache-size     = 0
thread_cache_size    = 8
open_files_limit     = 65535
max_connections      = 1024
max_allowed_packet   = 64M
datadir              = /var/lib/mysql
socket               = /var/run/mysql/mysql.sock
pid-file             = /var/run/mysql/mysql.pid
log-error            = /var/log/mysql/mysql.log

skip-external-locking
innodb_file_per_table
#
# * Galera-related settings
#
[galera]
# Mandatory settings
#wsrep_on=ON
#wsrep_provider=
#wsrep_cluster_address=
#binlog_format=row
#default_storage_engine=InnoDB
#innodb_autoinc_lock_mode=2
#
# Allow server to accept connections on all interfaces.
#
#bind-address=0.0.0.0
#
# Optional setting
#wsrep_slave_threads=1
#innodb_flush_log_at_trx_commit=0

# this is only for embedded server
[embedded]

# This group is only read by MariaDB servers, not by MySQL.
# If you use the same .cnf file for MySQL and MariaDB,
# you can put MariaDB-only options here
[mariadb]

# This group is only read by MariaDB-10.5 servers.
# If you use the same .cnf file for MariaDB of different versions,
# use this group for options that older servers don't understand
[mariadb-10.5]

